@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');
@import "tailwindcss";

.intel-one-mono {
  font-family: "Intel One Mono", monospace;
  font-optical-sizing: auto;
}

@font-face {
  font-family: 'Courier Prime';
  src: url('/public/fonts/segoeuithis.ttf') format('truetype');
  /* font-weight:800; */
  /* font-style: normal; */
}


.courier-font {
  font-family: 'Courier Prime', monospace;
}